.navbar div:last-child {
  margin-left: auto;
}

.rec-list-item {
  height: 30px;
  padding-left: 10px;
}

.rec-list-item:not(:first-child) {
  border-top: 1px solid transparent;
  border-image: linear-gradient(45deg , rgb(240, 240, 236, .2), rgb(44, 44, 44, 0));
  border-image-slice: 1;
}

.relicsrun-heading {
  /* background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 11%,
        rgba(208, 222, 33, 1) 22%,
        rgba(79, 220, 74, 1) 33%,
        rgba(63, 218, 216, 1) 44%,
        rgba(47, 201, 226, 1) 55%,
        rgba(28, 127, 238, 1) 66%,
        rgba(95, 21, 242, 1) 77%,
        rgba(186, 12, 248, 1) 88%,
        rgba(251, 7, 217, 1) 100%
    ); */
  background: linear-gradient(
    45deg,
    #1abc90 0%,
    #358cdb 30%,
    #e74c3d 55%,
    #e5c00f 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}